.paginationBttns{
    width:80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
}
.paginationBttns a{
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid blue;
    color: blue;
    cursor: pointer;
    text-decoration: none;
}
.paginationBttns a:hover{
    color: white;
    background-color: blue;
}
.paginationActive a{
    color:white;
    background-color: blue;
}